doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    style.
        body {
                background-color: black;
                color: #990000;
            }
  body
    block content
